.progressLabel {
	line-height: 1;
	font-size: var(--mantine-font-size-sm);
}

.stat {
	border-bottom: 3px solid;
	padding-bottom: 5px;
}

.statCount {
	line-height: 1.3;
}

.diff {
	display: flex;
	align-items: center;
}

.icon {
	color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
}
