/* raleway-regular - cyrillic_latin */
@font-face {
	src: url("../../../assets/fonts/raleway-v34-cyrillic_latin-regular.woff2")
		format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
	font-family: "Raleway";
	font-weight: 400;
	font-style: normal;
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}

/* raleway-500 - cyrillic_latin */
@font-face {
	src: url("../../../assets/fonts/raleway-v34-cyrillic_latin-500.woff2")
		format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
	font-family: "Raleway";
	font-weight: 500;
	font-style: normal;
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}

/* raleway-600 - cyrillic_latin */
@font-face {
	src: url("../../../assets/fonts/raleway-v34-cyrillic_latin-600.woff2")
		format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
	font-family: "Raleway";
	font-weight: 600;
	font-style: normal;
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}

/* raleway-700 - cyrillic_latin */
@font-face {
	src: url("../../../assets/fonts/raleway-v34-cyrillic_latin-700.woff2")
		format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
	font-family: "Raleway";
	font-weight: 700;
	font-style: normal;
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}

/* raleway-800 - cyrillic_latin */
@font-face {
	src: url("../../../assets/fonts/raleway-v34-cyrillic_latin-800.woff2")
		format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
	font-family: "Raleway";
	font-weight: 800;
	font-style: normal;
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}
